<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="description" content="iCollector je aplikace pro všechny sběratele." />
        <meta name="keywords" content="icollector, icollector.info, collecting, sběratelství, collectible, club">
        <meta name="author" content="iCollector" />
        <meta name="copyright" content="iCollector" />
        <meta name="application-name" content="iCollector" />
        <!-- for Facebook -->          
        <meta property="og:title" content="iCollector" />
        <meta property="og:type" content="article" />
        <meta property="og:url" content="http://www.icollector.info/" />
        <meta property="og:description" content="iCollector je aplikace pro všechny sběratele." />
        <!-- for Twitter -->          
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:title" content="iCollector" />
        <meta name="twitter:description" content="iCollector je aplikace pro všechny sběratele." />
        <link rel="shortcut icon" href="{$basePath}/favicon.ico">
        <link rel="icon" href="{$basePath}/favicon.ico">
    <title>{ifset title}{include title|striptags} | {/ifset} iCollector</title>
 
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
 
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <!-- Latest jQuerry-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
 
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{$basePath}/css/style.css">
</head>
<body>
<!-- Hlavička -->
<nav class="navbar navbar-default navbar-fixed-top" id="header">
  <div class="container-fluid">
    <div class="navbar-header" id="logo"> 
      <a href="{link Homepage:}">iCollector</a>
    </div>
    <div class="navbar-right">
      {if (!($user->isLoggedIn()))}
          <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">Přihlásit</button>
          <a href="{link Register:}" class="btn btn-primary">Registrovat</a>
      {else}
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        {$user->getIdentity()->firstName}
        <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a href="{link User:,$user->identity->id}">Profil</a></li>
        <li><a href="{link Category:new}">Přidat kategorii</a></li>
        <li><a href="{link Chat:}">Moje konverzace</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="{link Homepage:Logout}">Odhlásit</a></li>
        </ul>
      </div>
      {/if}
    </div>
  </div>
</nav>
<!--tělo-->
<div class="container-fluid" id="homepage">
      
      <div id="intro">

        {block intro}{/block}

      </div>
      <div class="col-xs-12"  id="content">
      {block content}{/block}
      </div>
      
      <div id="main-navigation">
          <p>{control searchForm}
          <p><a n:href="Club:">Sběratelský klub</a>
      </div>
      <!--patička
      <div class="col-xs-12" id="footer">
        <div class="container-fluid">
          <div class="col-xs-4">
            <p>icollector</p>
          </div>
          <div class="col-xs-4">
            <p>2016</p>
          </div>
          <div class="col-xs-4">
            <p>Have you read the <a href="{link Terms:}">Terms &amp; Conditions</a> yet?</p>
          </div>
        </div>
      </div>-->
</div>
   



<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Přihlášení</h4>
      </div>
      <div class="modal-body">
        {control signInForm}
        <a href="{link LostPassword:}" id="forgot_pass"><button class="btn btn-info btn-xs">Zapomenuté heslo?</button></a>
      </div>
    </div>
  </div>
</div> 
 

</body>
</html>