#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning
#
parameters:


php:
	date.timezone: Europe/Prague


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter
	catchExceptions: true


services:
	- App\Model\UserManager
	- App\Forms\FormFactory
	- App\Forms\SignFormFactory
	- App\RouterFactory
	router: @App\RouterFactory::createRouter

nette:
	session:
		autoStart: true

extensions:
    console: Kdyby\Console\DI\ConsoleExtension
    facebook: Kdyby\Facebook\DI\FacebookExtension
    events: Kdyby\Events\DI\EventsExtension
    annotations: Kdyby\Annotations\DI\AnnotationsExtension
    doctrine: Kdyby\Doctrine\DI\OrmExtension

mail:
    smtp: true
    host: smtp.forpsi.com
    port: 465
    username: postmaster@collectorsnest.eu
    password: 349.fNFeJ8
    secure: ssl

facebook:
    appId: "117760905316435"
    appSecret: "92b5b06292db088ef2cf62ccc7902b3f"
    permissions: [email, public_profile] # theese are the default read permissions, you might need to
    graphVersion: v2.6