{block content}
<div class="jumbotron">
          <div class="container">
            <h1>iCollector</h1>
            <p>Přidání nové kategorie</p>
          </div>
        </div>
<center>{control categoryForm}</center>
{/block}