{block intro}
<div class="jumbotron">
          <div class="container">
            <h1>Icollector</h1>
            <p n:block="title">Přidání nové kategorie</p>
          </div>
        </div>
{/block}
{block content}
<center>{control categoryForm}</center>
{/block}
