{block content}
<div class="jumbotron">
          <div class="container">
            <h1>iCollector</h1>
            <p>Potvrdit výměnu předmětu</p>
          </div>
        </div>
<center>{control confirmTradeForm}</center>
{/block}