{block content}
<div class="jumbotron">
          <div class="container">
            <h1>iCollector</h1>
            <p>Upravení předmětu</p>
          </div>
        </div>
<center>{control collectibleEditForm}</center>
{/block}