{block content}

<center>{control finalForm}</center>
{/block}
{block intro}
<div class="jumbotron">
          <div class="container">
            <h1>The collectors' nest</h1>
            <p>Rekapitulace výměny</p>
          </div>
        </div>
{/block}

{block title}Schválit výměnu{/block}