{block content}
<div class="jumbotron">
          <div class="container">
            <h1>iCollector</h1>
            <p>Rekapitulace výměny</p>
          </div>
        </div>
<center>{control finalForm}</center>
{/block}