{block content}
<center>{control collectibleForm}</center>
{/block}

{block intro}
<div class="jumbotron">
          <div class="container">
            <h1>iCollector</h1>
            <p>Přidání nového předmětu</p>
          </div>
        </div>
{/block}