{var $tile="Nabídka výměny"}
{block content}
<center>{control offerForm}</center>
{/block}
{block intro}
<div class="jumbotron">
          <div class="container">
            <h1>The collectors' nest</h1>
            <p>Nabídka výměny</p>
          </div>
        </div>
{/block}