{block content}

<center>{control tradeForm}</center>
{/block}
{block intro}
<div class="jumbotron">
          <div class="container">
            <h1>Icollector</h1>
            <p>Vybrat uživatele</p>
          </div>
        </div>
{/block}

{block title}Vyměnit předmět{/block}