{block content}
<div class="jumbotron">
          <div class="container">
            <h1>iCollector</h1>
            <p>Vybrat uživatele</p>
          </div>
        </div>
<center>{control tradeForm}</center>
{/block}