{block content}  
<center>{control profileForm}</center>
{/block}

{block intro}
  <div class="jumbotron">
          <div class="container">
            <h1>iCollector</h1>
            <p>Upravte svůj profil</p>
          </div>
        </div>
{/block}