@import url("reset.css");

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 15px;
    background: #fefefe;
    color:#333;
    padding-top: 50px;
    height:100%;
}


#header {
    margin: 0 auto;
    background: #5cb85c;
    //border-radius: 10px;
    border-bottom: 1px #00eb72;
    padding-left: 10px;
    padding-top: 10px;
}
.navbar-header a{
    color: white;
    font-size: 25px;
}

#logo {
     border-bottom:none;
}

#content {
    position:relative;
    left:8.25vw;
    background: #FEFEFE;
    border-left: 1px solid #000 !important;
    height: 100%;
    //border-radius: 10px;
    //border: 1px solid #ebebeb;
}
.form-control button{
background:#5cb85c;
}
#frm-profileForm{
padding-bottom:20px;
}
th,td{
  padding:15px;
  text-align: center
}
#content-user {
    #content;
    margin-bottom: 50px;
}

#new, new button, new a, new p{
    margin: 0 auto;
    position:absolute;
    color:white;
    text-decoration-color:white;
    bottom:-50px;
}



#footer {
    position:absolute;
    top:calc(100vh - 50px) !important;
    bottom:50px;
    height: 50px;
    margin-top:10px;
    padding-top: 10px;
    background: #5cb85c;
    color: white;
    font-size: 25px;
}

.dropdown {
    background-color:transparent !important;
}

.dropdown-menu {
    display: none;
    //position: absolute;
    background-color: #f9f9f9;
    top: 30px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-menu a {
    color: black;
    //padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-menu a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

#submenu{

    color:white;
    padding:10px;
    font-size: 25px;

}

#galerie{
    padding:0 !important;
    

}

#galeriewrapper{
    
}

#collectible img{
    max-height: 70vh;

}
.polozka{
    //padding:10px;
    border: 1px ridge;
    //border-top: 1px solid #000 !important;    
    font-size: 2.25vh;
    font-weight: bold;
    margin: 0 !important;
    height: 30vh;
    

}
.polozka img{
    max-height: 25vh;
    margin: 0 auto;
}
#submenu a{
    color:white;

}
/*homepage*/
#homepage {
  padding: 0 !important;
}
/*top navigation*/
.navbar {
  margin-bottom: 0;
  padding: 0.25em;
}
/*navigation*/
#main-navigation {
  position: fixed;
  left:0;
  //width: 200px;
  padding: 0 !important;
  //border-right: 1px solid #000 !important;
  background: #fafafa;
}

#profil{
  color: #5cb85c;
  font-size: 25px;
  padding:20px;
  margin: 0 auto;
  text-align: center;
}

#profil img{
  max-width:150px;
}

#main-navigation ul {
  position: relative;
  list-style:none;
  //width: 200px;
  padding: 0;
  margin: 0;
  width: 100%;
}
#main-navigation th{
 padding:0px !important;
}
#main-navigation ul li {
  position: relative;
  //width: 200px;
  text-align: center;
  width: 100%;
  padding: 1em 0;
  background: #efefef;
}                     
#main-navigation ul li:hover {
  background: #aaaaaa;
}


/*content*/
#main-content {
  padding: 0 !important;
}

/*zdroj http://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_modal2 */
/* The Modal (background) */

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}
