@import url("reset.css");

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    background: #fefefe;
    color:#333;
    padding-top: 50px;
}

p {
    padding: 10px;
    
}



#header {
    margin: 0 auto;
    //height: 40px !important;
    background: #5cb85c;
    //border-radius: 10px;
    border-bottom: 1px solid #00eb72;
    padding-left: 10px;
    padding-top: 10px;
}
.navbar-header a{
    color: white;
    font-size: 25px;
}


#content {
    background: #FEFEFE;
    //border-radius: 10px;
    //border: 1px solid #ebebeb;
    //margin: 5px;
}



#footer {
    height: 50px;
    background: #5cb85c;
    color: white;
    font-size: 15px;
    //float:right !important;
}
.dropdown {
    background-color:transparent !important;
}

.dropdown-menu {
    display: none;
    //position: absolute;
    background-color: #f9f9f9;
    top: 30px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-menu a {
    color: black;
    //padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-menu a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

#submenu{
    color:white;
    padding:10px;
    font-size: 25px;

}

#collectible img{
    max-height: 70vh;

}
.polozka{
    padding:10px;
    border: 1px solid;
    font-size: 20px;
    margin: 0 auto !important;
    

}
.polozka img{
    max-height: 200px;
    margin: 0 auto;
}
#submenu a{
    color:white;

}
/*homepage*/
#homepage {
  padding: 0 !important;
}
/*top navigation*/
.navbar {
  margin-bottom: 0;
  padding: 0.25em;
}
/*navigation*/
#main-navigation {
  position: relative;
  padding: 0 !important;
  border-right: 1px solid #000;
  height: 85vh;
  background: #fafafa;
}

#profil{
  color: #5cb85c;
  font-size: 25px;
  padding:20px;
  margin: 0 auto;
  text-align: center;
}

#profil img{
  max-width:150px;
}

#main-navigation ul {
  position: relative;
  list-style:none;
  padding: 0;
  margin: 0;
  width: 100%;
}
#main-navigation ul li {
  text-align: center;
  width: 100%;
  padding: 1em 0;
  background: #efefef;
}                     
#main-navigation ul li:hover {
  background: #aaaaaa;
}


/*content*/
#main-content {
  padding: 0 !important;
}

/*zdroj http://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_modal2 */
/* The Modal (background) */

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}
