@import url("reset.css");

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 15px;
    background: #fefefe;
    color:#333;
    padding-top: 50px;
    //height:100%;
}


#header {
    margin: 0 auto;
    background: #5cb85c;
    //border-radius: 10px;
    border-bottom: 1px #00eb72;
    padding-left: 10px;
    padding-top: 10px;
}
.navbar-header a{
    color: white;
    font-size: 25px;
}

#logo {
     border-bottom:none;
}
#content-head{

}
#content {
    
    //top:200px;
    //height: 100%;
    padding-left:0px !important;
    padding-right:0px !important;
    margin-left:0px !important;
    margin-right:0px !important;
    //border-radius: 10px;
    //border: 1px solid #ebebeb;
}

#intro{
position:relative;
left:16.6666%;
width:83.3334%;
}

#submit_button{
height:40px;
color:white;
font-size:18px;
background: #4cae4c;;
}   
#frm-profileForm{
padding-bottom:20px;
} 
th,td{
  margin: auto;
  padding:15px;
  padding-top:0px !important;
  text-align: center
}


#message{
    position: relative;
    left:10%;
    bottom:100px;
}
.message-incoming{
float:left;
padding:10px;
width:500px;
margin-top:10px;
margin-bottom:10px;
margin-left:10px;
border-radius: 10px;
}
.message-outcoming{
float:right;
padding:10px;
width:500px;
margin-top:20px;
margin-right:10px;
border-radius: 10px;
}

#new, new button, new a, new p{
    margin: 0 auto;
    position:absolute;
    color:white;
    text-decoration-color:white;
    bottom:-50px;
}



#footer {
    position:absolute;
    top:calc(100vh - 50px) !important;
    bottom:50px;
    height: 50px;
    margin-top:10px;
    padding-top: 10px;
    background: #5cb85c;
    color: white;
    font-size: 25px;
}

.dropdown {
    background-color:transparent !important;
}

.dropdown-menu {
    display: none;
    //position: absolute;
    background-color: #f9f9f9;
    top: 30px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-menu a {
    color: black;
    //padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-menu a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}


#collectible{
    margin-top:2%;
}
#galerie{
    padding:0 !important;
    
}
#seznam{    
    text-align:center;
    font-size:20px;
}
#galerie_odsazeni{
    position:relative;
    left:0;
    margin-bottom:20px;
}
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  
.pet{
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  float: left;
  width: 20%;
}
}
#seznam table{
    position:relative;
    left:25%;
    margin-top:10px;
}
#seznam tr{
    margin:10px;
}
#chat{
    position:relative;
    left:100px;
    margin-top:20px;
}
#chat-window-wrapper{
   position:relative;
   left:-20px;
   overflow-y: auto;
   width:220px;
   height:800px;
}
.chat-window{
     position:relative;
     width:200px;
     height:200px;
     padding:10px;
     text-align: center;
     background: #efefef;
     margin:1px;
     -webkit-border-radius: 20px;
     -moz-border-radius: 20px;
     border-radius: 20px;
}
#active{
  background: gold;
}

.chat-window:hover{
background: #aaaaaa;
}

.chat-window img{
    max-width:150px;
    max-height:150px;
}

#chat a{
    color: #000000;
    text-decoration: none;
}
.chat-detail{
    position:absolute;
    top:20px;
    width:600px;
    height:750px;
    left:215px;
    //padding:20px;
    margin-top:30px;
    overflow-y: auto;
}
#chat-message{
    position:absolute;
    top:800px;
    left:215px;
    width:600px;
    height:50px;
    //border:1px solid;
}
#chat-message input[type="submit"]{
    margin:5px;
    position:absolute;
    top:0px;
    width:100px;
    right:0px;
    color:white;
    background:#5cb85c;
}

label > input[name="agree"]{
    margin:5px;
    padding:5px;

    
}

label > input[name="remember"]{
    margin:5px;
    padding:5px;

    
}

#chat-message input[type="text"]{
    margin:5px;
    position:absolute;
    top:0px;
    left:0px;
    width:490px;
    right:0px;
}
#collectible img{
    max-height: 70vh;

}
.polozka{
    //padding:10px;
    border: 1px ridge;
    //border-top: 1px solid #000 !important;    
    font-size: 2.25vh;
    font-weight: bold;
    margin: 0 !important;
    height: 30vh;
    

}
.polozka img{
    max-height: 25vh;
    margin: 0 auto;
}
#submenu a{
    color:white;

}
/*homepage*/
#homepage {
  padding: 0 !important;
}
/*top navigation*/
.navbar {
  margin-bottom: 0;
  padding: 0.25em;
}
/*navigation*/

#profil{
  color: #5cb85c;
  font-size: 25px;
  padding:20px;
  margin: 0 auto;
  text-align: center;
}

#profil img{
  max-width:150px;
}

#restore_form{
padding-top:50px;
padding-left:50px;
}
#submenu{
position:relative;
left:16.6666%;
max-width:83.3334%;
color:white;
padding:10px;
font-size: 25px;
}
.navbar-right{
  margin-right: 0px !important;
}
#main-navigation {
  margin-left: 0px !important;
  position:fixed;
  top:50px;
  //height:100%;
  left:0px;
  width:16.6666%;
  color:white;
  height:200px;  
    padding:10px;
    font-size: 25px;
  text-align: center;
  background: #7cc67c;
  border-bottom-right-radius:30px;
}



/*content*/
#main-content {
  padding: 0 !important;
}

#forgot_pass{
 position:absolute;
 right:10px;
 top:40px;
}
#club{
  position:relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:50%;
  height:80%;
  border:1px solid;
  margin-top:50px;
  padding:10px;
  border-radius:30px;
  padding:20px;
}

#club-show{
  position:relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:60%;
  height:80%;
  border:1px solid;
  margin-top:50px;
  padding:10px;
  border-radius:30px;
  padding:20px;
  background:#EAEADC;
}
#club-seznam{
  position:relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:60%;
  height:80%;
  border:1px solid;
  margin-top:50px;
  padding:10px;
  border-radius:30px;
  padding:20px;
  background:#EAEADC;
}

#club-show h1{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font: 32px solid;
  margin-bottom:10px;
}
.komentar{
 border: 1px ridge #000;
 padding:10px;
 margin-bottom:10px;
 min-height:200px;
 background:#e3dfa5;
}
.komentar-hlavicka{
 position:relative;
 top:0px;
 border-left: 1px ridge #000;
 border-top: 1px ridge #000;
 border-right: 1px ridge #000;
 padding:10px;
 background:#D7D47D;
}

.komentar-hlavicka h2{
position:absolute;
top:0px;
left:40%;
margin-top:20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font: 32px solid;
  margin-bottom:10px;
} 
#new-club{
  position:relative;
  top:10px;
  left:40%;
}
.komentar-hlavicka span{
 position:absolute;
 right:0px;
 top:0px;
 padding:10px;
}
.komentar-foto{
 max-width:100px;
 max-height:100px;
}
#frm-newClubForm-message{
  height:70vh;
  margin-bottom:20px;
}
/*zdroj http://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_modal2 */
/* The Modal (background) */

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.modal-content{
    top:30vh;
    left:30%;
    position:absolute;
    width:500px
}
.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}
